@import url("fonts.css");
/**/
/*Color*/
/* Font-family*/
/*Font Weights*/
/*Font Size*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  line-height: 1.6;
  font-family: "Roboto-regular";
  letter-spacing: .1em;
}

h1, h3 {
  font-family: "Roboto-black";
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #999;
}

i {
  cursor: pointer;
}

small {
  color: #999;
  cursor: pointer;
}

input {
  width: 77.7%;
  padding: .6rem;
  border-radius: .2em;
  border: 1px solid #e6e6e6;
}

.search-btn {
  padding: .76em 1.4em;
  border-radius: .2em;
  border: none;
  background-color: #000;
  color: #f3f3f3;
  cursor: pointer;
}

.search-btn:hover {
  opacity: .9;
}

.alert-bar {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFDFDF;
}

.alert-bar p {
  font-size: 1em;
}

.alert-bar p span {
  border: 2px solid #000;
  padding: .1em;
}

.hero {
  background-color: rgba(0, 0, 0, 0.9);
  height: 230px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  display: block;
  letter-spacing: .06em;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: .4em;
  width: 90%;
  max-width: 800px;
  padding: 0 0;
  margin: 0 auto;
}

.hero h1 span {
  display: block;
}

.hero p {
  width: 90%;
  max-width: 800px;
  padding: 0 0;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .alert-bar {
    height: 40px;
  }
  .alert-bar p {
    font-size: 1.3rem;
  }
  .hero {
    height: 230px;
  }
  .hero h1 {
    font-size: 2.5em;
    letter-spacing: .1em;
    width: 85%;
    max-width: 800px;
    padding: 0 0;
    margin: 0 auto;
  }
  .hero h1 span {
    display: block;
  }
  .hero p {
    font-size: 1.2em;
    width: 85%;
    max-width: 800px;
    padding: 0 0;
    margin: 0 auto;
  }
}

nav {
  display: none;
}

aside {
  margin: 0 0 2em;
}

aside h3 {
  text-transform: uppercase;
  margin: 1em 0;
}

.myprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  text-align: justify;
}

.myprofile h1 {
  margin: 0 0 1em;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.myprofile img {
  margin-bottom: 1.5em;
}

.social-info {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-info .fa-facebook-f {
  padding: 1em 1.26em;
}

.social-info i {
  border: 1px solid #e6e6e6;
  padding: 1em 1em;
  margin: .7em .1em;
}

.social-info i:hover {
  border: 1px solid #0999;
  color: #0999;
}

.category {
  margin: 2em 0 1em;
}

.search-form {
  display: none;
}

@media only screen and (min-width: 586px) {
  aside .myprofile {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  aside {
    margin-top: 3em;
    flex: 1;
  }
  aside div {
    padding: 0 1em;
    border: 1px solid #0999;
  }
  .search-form {
    display: block;
  }
  .myprofile {
    text-align: justify;
    width: 100% !important;
    margin: 3.9em auto auto !important;
  }
  .myprofile h1 {
    margin-top: 1.5em;
  }
  .category {
    padding: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .myprofile h1 {
    font-size: 1.7rem;
    margin: 1em;
  }
  .myprofile .social-info .fa-facebook-f {
    padding: 1em 1.6em;
  }
  .myprofile .social-info i {
    padding: 1em 1.4em;
  }
  input {
    width: 81.44%;
  }
}

.container-article-section {
  width: 90%;
  max-width: 800px;
  padding: 0 0;
  margin: 0 auto;
}

.articles {
  margin: 3em 0;
}

.articles .content-post {
  margin-bottom: 2em;
}

.articles small:hover {
  color: #0999;
}

.articles a {
  color: #999;
}

.articles a:hover {
  color: #0999;
}

.articles h1 {
  line-height: 1.3;
  font-size: 1.3rem;
  margin-bottom: .3em;
}

.articles p {
  margin: 1em 0;
}

.articles .profile-info small {
  padding: 0 .4em 1em;
  display: inline-block;
}

@media only screen and (min-width: 586px) {
  .articles {
    display: flex;
  }
  .content-post:first-child {
    margin-right: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .container-article-section {
    width: 90;
    max-width: 800px;
    padding: 0 0;
    margin: 0 auto;
    display: flex;
  }
  .articles {
    flex: 2;
    display: block;
  }
  .content-post {
    margin: auto 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .container-article-section {
    width: 85;
    max-width: 900px;
    padding: 0 0;
    margin: 0 auto;
  }
  .articles i {
    font-size: 1.2em;
  }
  .articles h1 {
    font-size: 1.7rem;
  }
  .articles p {
    font-size: 1.1em;
  }
}

.popular {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 1em .8em;
  margin: 1em 0;
}

.a-title {
  grid-column: 1/3;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: .5em;
}

.post-img {
  grid-column: 1/2;
}

.post-img img {
  height: 100%;
}

.post-info {
  grid-column: 2/3;
  display: inline-block;
  line-height: 1;
}

.post-info h1 {
  margin: .5em 0 .5em;
  font-size: 1em;
  line-height: 1.2;
  color: #000;
}

.post-info small:hover {
  color: #0999;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .popular {
    padding: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .popular i {
    font-size: 1.2em;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #000;
  color: #f3f3f3;
}

.cta a {
  color: #f3f3f3;
}

.cta a:hover {
  color: #000;
  background-color: #0999;
}

.cta .content {
  border: 2px solid #0999;
  padding: 1em;
  border-radius: .2em;
}

.btn-lg {
  display: block;
  margin-top: 1em;
  border: 1px solid #222;
  padding: .5em 1.2em;
  border-radius: .2em;
}

.footer {
  background-color: #000;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 .4em;
}

.footer a {
  color: #0999;
}

.footer h1 {
  margin: .5em 0 .7em;
}

.footer p {
  padding: 1em 0 0;
  font-size: 0.9em;
}

.social-link a {
  display: inline-block;
  margin: .2em 0;
  font-size: 1.3em;
  padding: .2em;
  color: #f3f3f3;
}

.social-link a:hover {
  color: #0999;
}

.copyright {
  color: #999;
}

.some-text {
  font-size: 1em;
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 0 0;
  margin: 0 auto;
}

.navbar-brand {
  color: #f3f3f3;
}

.navbar-brand span {
  border: 2px solid #0999;
  padding: .2em;
}

@media only screen and (min-width: 1024px) {
  .some-text {
    width: 85%;
    max-width: 800px;
    padding: 0 0;
    margin: 0 auto;
    font-size: 1.1em;
  }
  .social-link i {
    font-size: 1.3rem;
    padding: 0 .2em;
  }
  .navbar-brand {
    color: #f3f3f3;
  }
  .navbar-brand span {
    border: 2px solid #0999;
    padding: .2em;
  }
}
