@import url("fonts.css");
/**/
/*Color*/
/* Font-family*/
/*Font Weights*/
/*Font Size*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.9em;
}
