@import url("fonts.css");
/**/
/*Color*/
/* Font-family*/
/*Font Weights*/
/*Font Size*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  letter-spacing: .08em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: "Roboto-regular";
  color: #fff;
}

li {
  list-style-type: none;
}

h4 {
  font-family: "Roboto-bold";
  letter-spacing: .1em;
}

p {
  font-family: "OpenSans";
  font-size: 0.9em;
}

small {
  font-family: "Roboto-light";
}

i {
  color: #999;
  cursor: pointer;
}

.btn-sm {
  background-color: black;
  border: none;
  border-radius: .2em;
  color: #fff;
  padding: 0 1em;
  margin: 1em 1em 1em 0;
  display: block;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-sm:hover {
  background-color: #062b28;
}

/*
 Alert section  */
.alert-bar {
  background-color: #DFDFDF;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-bar p {
  font-family: "Roboto-regular";
  letter-spacing: .05em;
  font-size: 1em;
}

.alert-bar p span {
  border: 2px solid #000;
  padding: .14em;
}

/*
 Hero section  */
.hero {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  padding: 0 1rem;
  color: #fff;
}

.hero h4 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.hero h4 span {
  display: block;
}

.hero p {
  margin-top: .8em;
  line-height: 1.4;
}

.hero p span {
  display: block;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 0 5em;
  }
}

/*
 Navigation section  */
.navbar {
  height: 9vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar .logo {
  font-size: 1.7rem;
  order: 1;
}

.navbar .logo a {
  color: #fff;
}

.navbar .logo a h4 {
  letter-spacing: .07rem;
}

.navbar .logo a h4 span {
  border: 2px solid #0999;
  padding: .2rem;
  color: #0999;
}

.navbar .navbars {
  font-size: 1.7rem;
  order: 0;
}

.navbar .user-icon {
  font-size: 1.7rem;
  order: 2;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 5em;
    margin-bottom: 2em;
  }
}

.collapse {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  display: none !important;
  display: flex;
  flex-direction: column;
  padding: 2em;
  font-size: 0.9em;
}

.collapse a:hover {
  opacity: .6;
}

.collapse .fa-window-close {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  opacity: .6;
  transition: ease-in-out 300ms;
  align-self: flex-start;
}

.collapse .fa-window-close:hover {
  opacity: 1;
}

.collapse .navbar-nav {
  order: 1;
}

.collapse .navbar-nav li {
  padding: .9em 0;
}

.collapse .navbar-nav li a {
  display: block;
}

.collapse .search-form {
  order: 0;
  margin: .7rem 0;
}

.collapse .search-form input {
  background-color: #444;
  padding: .7em .5em;
  border-radius: .2rem;
  width: 65vw;
  font-family: "Roboto-regular";
  letter-spacing: .1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: ease-in-out 300ms;
}

.collapse .search-form input:focus {
  border: 1px solid #0999;
}

.collapse .search-btn {
  padding: .68em 1rem;
  background-color: transparent;
  border: 0.1rem solid #999;
  border-radius: .2rem;
  cursor: pointer;
}

.collapse .btn-reg {
  position: absolute;
  right: 2rem;
  order: 0;
}

.collapse .btn-reg a {
  padding-left: 1rem;
}

/*
 Articles section  */
.articles {
  margin: 1.3em 1em 0;
}

.articles .content-post .profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: .02rem;
  padding: .3rem 0;
  border-bottom: 2px solid #0999;
}

.articles .content-post .content .a-title {
  margin: 1rem 0;
}

.articles .content-post .content small {
  line-height: 2.5;
}

.articles .content-post .content small a {
  color: #0999;
}

.articles .content-post .content p {
  line-height: 1.5rem;
  text-align: justify;
}

.articles .content-post .content .react {
  display: flex;
  align-items: center;
  margin: .6em 0 0;
  letter-spacing: 1px;
}

.articles .content-post .content .react sup {
  color: #0999;
}

@media only screen and (min-width: 560px) {
  .articles {
    margin: 0;
    display: flex;
  }
  .articles .content-post {
    margin: 1.3em 1em 0;
  }
}

@media only screen and (min-width: 768px) {
  .articles {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .articles .content-post {
    margin: 0;
  }
  .articles .content h4 {
    font-size: 1.7rem;
  }
  .articles .content p {
    font-size: 1em;
  }
}

/*
 Popular section  */
.content-p {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.content-p .post {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.content-p .a-title {
  text-transform: uppercase;
  padding: 1rem 0 .6rem;
  border-bottom: 2px solid #0999;
  margin: 0 0 1rem;
}

.content-p .post-img img {
  height: 87px;
  width: 130px;
}

.content-p .post-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 .5rem 0;
}

.content-p .post-info .cat {
  font-size: .8rem;
  padding: .1rem 0;
}

.content-p .post-info .date {
  font-size: .8rem;
}

.content-p .post-info a {
  color: #000;
  font-size: 1em;
  line-height: 1.4rem;
  padding: .3rem 0;
}

@media only screen and (min-width: 560px) {
  .content-p .a-title {
    font-size: 1.3rem;
  }
  .content-p .post-info .cat {
    padding: .1rem 0;
  }
  .content-p .post-info a {
    line-height: 1.5rem;
    font-size: 1.2em;
    padding: .3rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .content-p {
    width: 80%;
    margin: 1rem auto;
  }
}

/*
 Call to Action section  */
.cta {
  background-color: #000;
  height: 28vh;
  margin: 1rem 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta .content {
  border: 2px solid #0999;
  padding: 1em 1rem;
  border-radius: .2rem;
}

.cta .btn-lg {
  border: 1px solid #0999;
  padding: .5em 1em;
  margin-top: .5em;
  border-radius: .2rem;
  display: block;
  transition: ease-in-out 250ms;
}

.cta .btn-lg:hover {
  background-color: #0999;
}

@media only screen and (min-width: 560px) {
  .cta {
    margin: 1.5rem 0 0;
  }
  .cta .btn-lg {
    padding: .6em 1em;
  }
}

/*
 Footer section  */
.footer {
  background-color: #000;
  color: white;
  padding: 1.5em 1em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9em;
}

.footer .logo-footer {
  font-size: 1.7rem;
  margin: 0 0 .5em;
}

.footer .logo-footer span {
  border: 2px solid #0999;
  padding: .2rem;
  color: #0999;
}

.footer .cpright-link {
  color: #0999;
  cursor: pointer;
}

.footer .cpright-link:hover {
  text-decoration: underline;
}

.footer .some-text {
  line-height: 1.6;
  padding: .5rem 0;
}

.footer .social-link {
  padding: .8rem 0;
  font-size: 1em;
}

.footer .social-link i {
  transition: ease-in-out .2s;
  padding: 0 .3rem;
}

.footer .social-link i:hover {
  color: #0999;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #0999;
  padding: .4rem 0;
}

@media only screen and (min-width: 560px) {
  .footer {
    background-color: #000;
    color: white;
  }
  .footer .social-link {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 2rem 5em 0;
    font-size: 1em;
  }
}
