
// container
@mixin container($w:100%,$p:0,$m:0,$m-w:800px){
    width: $w;
    max-width: $m-w;
    padding: 0 $p;
    margin: 0 $m;
}


// Media Queries
@mixin mobile {
    @media only screen and ( min-width :586px ) {
        @content;
    }
}

@mixin tablet {
    @media only screen and ( min-width : 768px ) {
        @content;
    }
}

@mixin desktop {
    @media only screen and ( min-width : 1024px ) {
        @content;
    }
}