
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: $xsm;
    line-height: 1.6;
    font-family: $roboto-regular;
    letter-spacing: .1em;
}
h1{
    font-size:  $xmd;
}
h1,h3{
    font-family: $roboto-black;
}
li{
    list-style-type: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: $grey;
}
i{
    cursor: pointer;
}
small{
    color: $grey;
    cursor: pointer;
}
input{
    width: 77.7%;
    padding: .6rem;
    border-radius: .2em;
    border: 1px solid lighten($black,90%);
}
.search-btn{
    padding: .76em 1.4em;
    border-radius: .2em;
    border: none;
    background-color: $black;
    color: $white;
    cursor: pointer;
    &:hover{
        opacity: .9;
    }
}