.footer{
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 .4em;
    
    a{
        color: $primary-color;
    }
    h1{
        margin: .5em 0 .7em;
    }
    p{
        padding: 1em 0 0;
        font-size: $xsm;
    }
}
.social-link{
    a{
        display: inline-block;
        margin: .2em 0;
        font-size:1.3em;
        padding: .2em;
        color: $white;
        &:hover{
            color: $primary-color;
        }
    }
}
.copyright{
    color: $grey;
}
.some-text {  
    font-size: $sm;
    text-align: center;
    @include container($w:90%, $m: auto);
}
.navbar-brand{
    color: $white;
    span{
        border: $border-2;
        padding: .2em;
    }
}

@include desktop{
    .some-text {  
        @include container($w:85%, $m: auto);
        font-size: 1.1em;
    }

    .social-link{
        i{
            font-size: $xmd;
            padding: 0 .2em;
        }
    }
    .navbar-brand{
        color: $white;
        span{
            border: $border-2;
            padding: .2em;
        }
    }
}